


<div class="" role="main">
    <div class="">
        <div class="page-title">
       <h2 style="color:#1B3A8D;">Add Family Member</h2>

        </div>



        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="background-color:white;">
                    <div class="x_title">
                        
                        <ul class="nav navbar-right panel_toolbox">

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-12 col-sm-12 col-xs-12 profile_left">

						
                            
					  </div >

                        <img id="mySpinner" src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" ng-show="loading" />

					 <div align="center">
					 <P align="center" style="color:#1B3991;padding-right:5%;font-weight:bold;">Select Patient</P>
					    <select class="selectpicker"  ng-model="patient.userId" style="height:33px;width:60%; background-color:#EEF9FF;" >
                            <option value="" selected>-- Select Patient --</option>
                            <option data-tokens="ketchup mustard" ng-repeat="prf in GetPatientsProfiles" value="{{prf.userId}}">{{prf.firstName}}</option>

                        </select>


					 </div>


                        </div>
						<div style="padding-top:7%;">
						</div>
                        <div class="col-md-12 col-sm-12 col-xs-12">



                            
							<div class="" role="tabpanel" data-example-id="togglable-tabs">
                                
								<div class="x_content" >

                                   
									 
                                    <form id="demo-form2" name="addCareForm" data-parsley-validate class="form-horizontal form-label-left" >
									
                                        <div class="form-group">
										
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"><span class="required"></span>
                                            </label>
											<P align="center" style="color:#1B3991;padding-right:30%;font-weight:bold;">Enter Family Member Phone Number</P>
                                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:19.5%;">
											
                                                <input type="text" id="first-name" required="required" name="caretakerphNumbertxt" class="form-control col-md-7 col-xs-12" ng-model="patient.phoneNumber" phone-input  numbers-only ng-readonly="phoneNumberTF" placeholder="Enter phone number" style=" background-color:#EEF9FF;border-radius:0px;width:77%;">
												
                                    <span ng-show="addCareForm.caretakerphNumbertxt.$dirty && addCareForm.caretakerphNumbertxt.$invalid">
                                        <span ng-show="addCareForm.caretakerphNumbertxt.$error.required" class="text-danger">Care taker phone number required</span>
                                    </span>
                                            </div>
                                        </div>

                                        
                                        <div class="form-group" align="center"  style="paading-top:10%;" >
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" align="center">

                                                <input type="submit" value="Add" ng-click="addCareTakerCall(patient)" class="btn btn-success add" style="color:white;font-size:13px; font-weight:bold;">
                                            </div>
                                        </div>

                                        <span class="text text-primary">{{careTakesucc}}</span>    {{careTakeError}}

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>